
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env


/dist
/build
*.tsbuildinfo

logs
*.log
npm-debug.log*

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

.idea/

[._]*.s[a-v][a-z]
!*.svg
[._]s[a-w][a-z]
[._]swn
[._]swp
[._]swo
session.vim
*.orig
*.rej

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
core
*~

coverage/
.nyc_output/

.eslintcache
.stylelintcache
.npm
.yarn-cache

swagger.json
